<h2>Danh sách sản phẩm</h2>
<a href="/add">➕ Thêm sản phẩm</a>

<table border="1">
    <tr>
        <th>Hình</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Hành động</th>
    </tr>

    <% products.forEach(p => { %>
        <tr>
            <td><img src="<%= p.url_image %>" width="80"></td>
            <td>
                <%= p.name %>
            </td>
            <td>
                <%= p.price %>
            </td>
            <td>
                <%= p.quantity %>
            </td>
            <td>
                <a href="/edit/<%= p.id %>">Sửa</a>
                <form action="/delete/<%= p.id %>" method="POST">
                    <button>Xoá</button>
                </form>
            </td>
        </tr>
        <% }) %>
</table>